#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
}
#gallery img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  background: #f3f3f3;
  border-radius: 4px;
}
